  .mapouter {
      position: relative;
      text-align: right;
      width: 600px;
      height: 400px;
  }
  
  .gmap_canvas {
      overflow: hidden;
      background: none !important;
      width: 500px;
      height: 400px;
  }
  
  .gmap_iframe {
      width: 600px !important;
      height: 400px !important;
  }
  
  #slide-div {
      border: 2px solid transparent;
      border-image: linear-gradient(to right, #15f50196, #f8e801ad);
      border-image-slice: 1;
  }
  
  #property-div {
      background: linear-gradient(to right, #4fee41, #f3e632e8);
      color: rgb(7, 7, 7);
      border: none;
  }
  
  #button-style {
      background-image: linear-gradient(to right, #76e967e8, #faf606ea);
      color: rgb(7, 7, 7);
      border: none;
  }
  
  #footer-div {
      background-image: linear-gradient(to right, #76e967e8, #faf606ea);
      color: rgb(7, 7, 7);
      border: none;
  }
  
  #check {
      color: #16f501;
  }