#searchInput {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #080808;
    border-radius: 50px;
    margin-left: 80%;
}

#searchInput:focus {
    outline: none;
    border-color: #f5067d;
}


/* Ensure the modal takes full-screen height */

.modal-dialog-fullscreen {
    max-width: 50%;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 25%;
    margin-bottom: 10%;
    height: 50%;
    width: 50%;
}

.modal-body {
    overflow: hidden;
    /* Prevents scrolling */
}


/* For small screens (mobile) */

@media (max-width: 576px) {
    .navbar-brand h5 {
        font-size: 16px;
        /* Adjust font size for smaller screens */
        white-space: normal;
        /* Ensures the text wraps */
        word-wrap: break-word;
        /* Breaks long words if necessary */
        text-align: center;
        /* Centers the text */
    }
    .navbar-brand h6 {
        font-size: 14px;
        /* Adjust font size for smaller screens */
        white-space: normal;
        /* Ensures the slogan text wraps */
        word-wrap: break-word;
        /* Breaks long words if necessary */
        text-align: center;
        /* Ensures the slogan is centered */
    }
    .navbar-brand img {
        width: 30px;
        /* Adjust logo size for small screens */
        height: 30px;
        /* Adjust logo size for small screens */
    }
}


/* For medium screens (tablets) */

@media (max-width: 768px) {
    .navbar-brand h5 {
        font-size: 18px;
        /* Adjust font size for tablet screens */
        white-space: normal;
        word-wrap: break-word;
    }
    .navbar-brand h6 {
        font-size: 16px;
        /* Adjust font size for tablet screens */
        white-space: normal;
        word-wrap: break-word;
    }
}


/* For larger screens (desktops) */

@media (min-width: 992px) {
    .navbar-brand h5 {
        font-size: 22px;
        /* Adjust font size for larger screens */
    }
    .navbar-brand h6 {
        font-size: 18px;
        /* Adjust font size for larger screens */
    }
}

#slide-div {
    border: 2px solid transparent;
    /* Creates a transparent border */
    border-image: linear-gradient(to right, #15f50196, #f8e801ad);
    /* Apply gradient */
    border-image-slice: 1;
    /* Ensures the gradient is stretched across the border */
}

#property-div {
    background: linear-gradient(to right, #4fee41, #f3e632e8);
    color: rgb(7, 7, 7);
    border: none;
}

#button-style {
    background-image: linear-gradient(to right, #76e967e8, #faf606ea);
    color: rgb(7, 7, 7);
    border: none;
}

#footer-div {
    background-image: linear-gradient(to right, #76e967e8, #faf606ea);
    color: rgb(7, 7, 7);
    border: none;
}

#check {
    color: #16f501;
}

#item-name {
    border-image: linear-gradient(to right, #15f50196, #f8e801ad);
}

#anti-rust,
#glue,
#enamel,
#emulsion,
#special {
    color: rgb(2, 2, 2);
}